*{
    font-family: brevia, helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #5d9b7b;

}

/*Hover Glow Affect*/
#ex5 {
 width: 700px;
 margin: 0 auto;
 min-height: 300px;
}
 
#ex5 img {
 margin: 25px;
 opacity: 0.8;
 border: 10px solid #eee;
 
 /*Transition*/
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 
 /*Reflection*/
 -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
 
 
#ex5 img:hover {  
   opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}  

/*iFrame dimensions*/
iframe {
    width: 1400px; /* adjust to your needs */
    max-width: 100%; /* to make it responsive */
    height: 1000px;
    max-height: none;
  }
